body {
background-color: #66ccff;
font-family: "Candara";
}
	
#navigation a, #navigation a: visited {
	display: block;
	width: 10em;
	border: 1px solid: #808;
	font-family: arial, verdana, sans-serif;
	font-size: 0.8em;
	text-align: center;
	text-decoration: none;
	}